@model Movie
@{
    ViewData["Title"] = "Add/Edit Movie";
    bool newMovie = (bool)ViewData["NewMovie"];
}

<form action="/Admin/UpdateMovie" method="post" enctype="multipart/form-data">
    <label for="Name">Movie Name:</label><br />
    @if (newMovie)
    {
        <input class="form-control" type="text" name="Name" required/>
    }
    else
    {
        <input class="form-control" type="text" name="Name" value="@Model.Name" readonly required/>
    }
    <br />
    <label for="Duration">Duration (Hours:Minutes):</label><br />
    <input type="time" name="Duration" value="@Model.Duration.Hours.ToString("D2"):@Model.Duration.Minutes.ToString("D2")" required/><br />
    <label for="Price">Price:</label><br />
    <input class="form-control" type="number" name="Price" value="@Model.Price" required/><br />
    <label for="MinAge">Minimum Age:</label><br />
    <input class="form-control" type="number" name="MinAge" value="@Model.MinAge" required/><br />
    <label for="Category">Category:</label><br />
    <input class="form-control" type="text" name="Category" value="@Model.Category" required/><br />
    <label for="Discount">Discount %:</label><br />
    <input class="form-control" type="number" name="Discount" value="@Model.Discount" required/><br />
    <label for="Poster">Poster image: (Don't pick if there is no need to update it)</label>
    <input class="form-control form-control-file" type="file" name="Poster" /><br/>
    <button type="submit" class="btn btn-primary">
        @(newMovie ? "Add" : "Update") Movie
    </button>
</form>
