@model CinemaWebApp.Models.HallVM
@{ 
    char[] alphabet = { 'A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'X', 'Y', 'Z' };
    int seats = (int)ViewData["seats"];
    ViewData["Styles"] = new string[] { "/css/Hall.css" };
    int n_cols = 20;
}
<div style="align-content: center; text-align: center;">
    <h2>Movie: @Model.movie | Hall: @Model.hall</h2><br/>
    <h5>@Model.start - @Model.end</h5>
    <table class="center">
        <thead>
        <th></th>
        @for (int i = 1; i <= n_cols; i++)
        {
            <th>@i</th>
        }
        </thead>
        @for (int i = 0; i <= seats; i++)
        {
            <tr>
                <th>@alphabet[i / n_cols]</th>
                @for (int j = 0; j < n_cols; j++, i++)
                {
                    @if (Model.seats.Contains(i))
                    {
                        <td><div class="seat" style="background-color: red;"> &#x1f4ba;</div></td>
                    }
                    else
                    {
                        <td><div class="seat"> &#x1f4ba;</div></td>
                    }
                }
            </tr>
        }
    </table>
    <button class="Buytickets" onclick="buy_tickets();">
        Buy Ticket
    </button>
</div>

<script>
    var hall = "@Model.hall";
    var start = "@Model.start.ToString(Screening.Format)";
    function buy_tickets() {
        var seats = document.querySelectorAll(".seat");
        var seat_idx = [];
        for (var i = 0; i < seats.length; i++) {
            if (seats[i].style.backgroundColor == 'yellow')
                seat_idx.push(i);
        }
        var order = { Hall: hall, Start: start, Seats: seat_idx };
        var message = new XMLHttpRequest();
        message.open("POST", "/Purchase/AddOrder");
        message.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
        message.onreadystatechange = function () {
            if (this.readyState == this.DONE && this.status == 200) {
                window.location.replace(this.responseText);
            }
        }
        message.send("Model="+JSON.stringify(order));
    }
    allSeats = document.querySelectorAll('.seat');
    for (var i = 0; i < allSeats.length; i++) {
        var seat = allSeats[i];
        seat.addEventListener('click', function () {
            var bgclr = this.style.backgroundColor;
            if (bgclr != 'red' && bgclr != 'yellow') {
                this.style.backgroundColor = 'yellow';
            }
        }, false);
    }
</script>
